<li data-id="<%= id %>" data-tag-id="<%= tag_id %>" data-title="<%= title %>">
  <span class="title"><%= title %></span>
  <a class="delete-tag" href="#">
    <i class="icon-remove2"></i>
  </a>
</li>
<span class="separator">//</span>
