  <%= cambium_page_title(admin_table.title) %>

<div id="page-content">
  <section class="form settings">
    <% @collection.each do |obj| %>
      <%= simple_form_for [:admin, obj] do |f| %>
        <% field = [:value, admin_view.form.edit.fields.send(obj.key)] %>
        <%= cambium_field(f, obj, field) %>
        <%= f.submit "Save #{admin_view.form.edit.fields.send(obj.key).label}" %>
      <% end %>
    <% end %>
  </section>
</div>
