<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">

  <title>Patience</title>

  <%%= stylesheet_link_tag "admin/admin", :media => "all" %>
  <%%= javascript_include_tag "modernizr" %>

  <script type="text/javascript">
    var WYSIWYG_BASE_STYLES = "<%%= stylesheet_path('wysiwyg') %>";
    var WYSIWYG_CUSTOM_STYLES = "<%%= stylesheet_path('admin/wysihtml5') %>";
  </script>

  <%%= csrf_meta_tags %>
</head>
<body>

  <div id="admin" class="row">

    <aside class="nav">
      <%%= render partial: "admin/shared/nav" %>
    </aside>

    <section class="container">
      <div class="content">
        <%%= yield %>
      </div>
    </section>

  </div>

  <%%= javascript_include_tag "admin/admin" %>
</body>
</html>
