<div id="title-bar">
  <h2 class="page-title">Search Results for &ldquo;<%= params[:q] %>&rdquo;</h2>
</div>

<div id="page-content">
  <section class="data-table">
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if @collection.size > 0 %>
          <% @collection.each do |item| %>
            <tr>
              <%= content_tag(:td, item.searchable_type, :class => 'search-type') %>
              <%= content_tag(:td, item.searchable.to_s) %>
              <%= content_tag(
                :td,
                cambium_search_route(item.searchable),
                :class => 'actions'
              ) %>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="3" class="no-results">
              No items matched your search results.
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
