header {
  background: $color-1;

  .logo {
    display: inline-block;
    a {
      display: block;
      padding: 15px 25px;
      font-size: 24px;
      font-weight: 600;
      text-transform: uppercase;
      color: $color-light;
      // background: $color-1-light;
      @include transition-all;
      &:hover {
        background: $color-1-light;
      }
    }
  }

  a.user {
    float: right;
    height: 60px;
    padding: 10px 25px;
    overflow: hidden;
    // background: $color-1-light;
    @include box-sizing(border-box);
    border-left: 1px solid $color-1-dark;
    @include transition-all;
    &:hover {
      background: $color-1-light;
    }
    .name {
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px 0 0;
      color: $color-light;
    }
    .avatar-container {
      display: inline-block;
      vertical-align: middle;
      height: 40px;
      width: 40px;
      overflow: hidden;
      border-radius: 100%;
      border: 2px solid $color-light;
      background: $color-light;
      img {
        width: 100%;
      }
    }

  }
}
