#admin {
  position: relative;
  min-height: 100%;

  //////////////////////////////// nav

  aside.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: $sidebar-width;
    height: 100%;
    background: $color-dark-lighter;
  }

  //////////////////////////////// content

  section.container {
    box-sizing: border-box;
    max-width: none;
    margin-left: $sidebar-width;
    padding: 0;
  }
}