aside#activity {
  background: $color-light-dark;
  border-left: 1px solid $color-light-darker;
  padding: 25px 10px;
  @include box-sizing(border-box);
  article {
    margin: 0 0 30px 0;
    &:last-child {
      margin-bottom: 0;
    }
    .avatar-container {
      margin: 5px 10px 0 0;
      border-color: $color-light-darker;
      vertical-align: top;
      width: 28px;
      height: 28px;
    }
    .content {
      display: inline-block;
      width: 185px;
      vertical-align: top;
      p {
        margin: 0;
        font-size: 14px;
        line-height: 18px;
        &.action {
          margin-top: 5px;
        }
        &.date {
          color: darken($color-light-darkest, 15%);
          font-weight: 400;
          font-size: 12px;
          line-height: 12px;
        }
        strong {
          font-size: inherit;
          line-height: inherit;
          a {
            font-size: inherit;
            line-height: inherit;
            font-weight: inherit;
            color: inherit;
            @include transition-all;
            &:hover {
              color: $color-dark-lightest;
            }
          }
        }
      }
    }
  }
  // nav {
  //   ul {
  //     float: none;
  //     margin: 25px 0 0 0;
  //     li {
  //       display: block;
  //       a {
  //         display: block;
  //         margin: 0;
  //         padding: 15px 0 15px 25px;
  //         font-size: 16px;
  //         font-weight: 400;
  //         border-left: 1px solid transparent;
  //         border-bottom: none;
  //         color: $color-light-darkest;
  //         @include transition-all;
  //         &:hover, &:active, &:focus {
  //           color: $color-light;
  //           background: $color-dark-light;
  //           border-left-color: $color-1;
  //           border-bottom: none;
  //         }
  //         &.active {
  //           color: $color-dark;
  //           background: $color-2;
  //           border-left-color: $color-2;
  //         }
  //         i {
  //           display: inline-block;
  //           margin: 0 7.5px 0 0;
  //           font-size: inherit;
  //           font-weight: inherit;
  //           color: inherit;
  //         }
  //       }
  //     }
  //   }
  // }
}
