aside#activity {
  background: $color-light-dark;
  border-left: 1px solid $color-light-darker;
  padding: 25px 10px;
  box-sizing: border-box;;
  article {
    margin: 0 0 30px 0;
    &:last-child {
      margin-bottom: 0;
    }
    .avatar-container {
      margin: 5px 10px 0 0;
      border-color: $color-light-darker;
      vertical-align: top;
      width: 28px;
      height: 28px;
    }
    .content {
      display: inline-block;
      width: 185px;
      vertical-align: top;
      p {
        margin: 0;
        font-size: 14px;
        line-height: 18px;
        &.action {
          margin-top: 5px;
        }
        &.date {
          color: darken($color-light-darkest, 15%);
          font-weight: 400;
          font-size: 12px;
          line-height: 12px;
        }
        strong {
          font-size: inherit;
          line-height: inherit;
          a {
            font-size: inherit;
            line-height: inherit;
            font-weight: inherit;
            color: inherit;
            @include transition-all;
            &:hover {
              color: $color-dark-lightest;
            }
          }
        }
      }
    }
  }
}
