div.status{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  text-align: center;
  @include box-sizing(border-box);
  p.notice, p.alert {
    margin: 0;
    padding: 25px 0;
    background: rgba($color-2, 0.93);
    color: $color-dark;
    font-size: 25px;
    line-height: 32px;
    &.alert {
      background: rgba($color-danger, 0.93);
    }
  }
}

.dropdown-container {
  position: relative;
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 9999;
    &.active {
      display: block;
    }
    ul {
      @include clear-list;
    }
  }
}

a {
  &.add, &.new, &.export, &.file, &.delete, &.crop, &.remove {
    &:before {
      font-family: 'icomoon';
      font-size: inherit;
      line-height: inherit;
      margin: 0 5px 0 0;
    }
  }
  &.new:before, &.add:before { content: "\e702"; }
  &.export:before { content: "\e65e"; }
  &.delete:before, &.remove:before { content: "\e6a7"; }
  &.file:before { content: "\e65e"; }
  &.crop:before { content: "\e73d"; }
}

.avatar-container {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  border: 2px solid white;
  overflow: hidden;
  background: white;
  img {
    width: 100%;
  }
}
