.dropdown-container {
  position: relative;
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 9999;
    &.active {
      display: block;
    }
    ul {
      @include clear-list;
    }
  }
}

.button {
  &.new:before {
    font-family: 'icomoon';
    font-size: inherit;
    line-height: inherit;
    margin: 0 5px 0 0;
  }
  &.new:before { content: "\e702"; }
}
