section.form {
  &.settings {
    form input[type=submit] {
      width: 75%;
      margin: 0 0 25px 25%;
    }
  }
  form {

    h2 {
      margin: 10px 0;
      font-size: 22px;
      line-height: 28px;
      color: $color-dark-lightest;
      font-weight: 400;
    }

    div.input {
      font-size: 0;
      padding: 20px 0;
      &.file {
        padding: 20px 0 0 0;
        & + img, img {
          display: block;
          width: 75%;
          max-width: 200px;
          margin: 20px 0 10px 25%;
        }
        & + a.file, & + img + a.file, a.file {
          display: block;
          clear: both;
          width: 100%;
          margin: 5px 0 0 25%;
          font-size: 14px;
          line-height: 14px;
        }
        & + .image-actions, & + img + .image-actions, .image-actions {
          display: block;
          clear: both;
          width: 75%;
          margin: 5px 0 20px 25%;
          font-size: 14px;
          line-height: 14px;
          a {
            display: inline-block;
            margin-right: 10px;
          }
        }
        & + div.input {
          padding-top: 40px;
        }
      }
      &.media-picker .add, &.media-picker .remove {
        display: inline-block;
        background: $color-2;
        padding: 6px 10px;
        font-size: 15px;
        font-weight: 400;
        color: $color-dark;
        vertical-align: top;
        &:before {
          font-size: 10px;
        }
      }
      &.media-picker .remove {
        background: $color-danger;
        margin-left: 10px;
        color: $color-light;
        display: none;
        &.active {
          display: inline-block;
        }
      }
      label {
        position: relative;
        display: inline-block;
        width: 25%;
        margin-top: 5px;
        vertical-align: top;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        &.boolean {
          margin: 0;
        }
        &.radio_buttons, &.check_boxes {
          float: left;
          margin-top: 0;
        }
        input.boolean {
          position: absolute;
          left: 100%;
          top: 3px;
        }
      }
      input, textarea, select, div.markdown {
        position: relative;
        display: inline-block;
        width: 75%;
        margin: 0;
        padding: 5px;
        vertical-align: bottom;
        font-size: 16px;
        border: none;
        box-sizing(border-box);
        &[readonly=readonly] {
          background-color: $color-light-dark;
          border-bottom-color: $color-light-dark;
        }
      }
      input {
        border-bottom: 1px solid $color-light-darker;
        &.pickadatetime-date {
          width: 37%;
          margin-right: 1%;
        }
        &.pickadatetime-time {
          width: 37%;
          + div.picker {
            left: 62%;
          }
        }
      }
      textarea {
        height: 200px;
        border: 1px solid $color-light-darker;
      }
      select {}
      div.markdown {
        padding: 0;
      }
      span.radio, span.checkbox {
        display: block;
        width: 75%;
        margin-left: 25%;
        &:last-child {
          label {
            margin-bottom: 0;
          }
        }
        label {
          display: block;
          margin: 0 0 12px 0;
          line-height: 14px;
        }
        input {
          width: auto;
          margin: 0 5px 0 0;
        }
      }
      div.picker {
        left: 25%;
        .picker__weekday {
          color: $color-light;
        }
        .picker__button--today, .picker__button--clear, .picker__button--close {
          color: $color-dark;
        }
      }
      .error {
        display: block;
        font-weight: 600;
        color: $color-danger;
        text-transform: uppercase;
      }
      .trumbowyg-box {
        display: inline-block;
        width: 75%;
        min-height: 375px;
        margin: 5px 0;
        &.trumbowyg-fullscreen {
          width: 100%;
        }
        .trumbowyg-button-pane button {
          margin: 0 0 1px;
        }
        textarea {
          border: none;
          width: 100%;
        }
      }
      .trumbowyg-modal {
        // position: fixed;
        .trumbowyg-modal-box {
          height: 315px;
          form {
            input {
              height: auto;
              margin: 0 !important;
              padding: 5px 10px !important;
              font-size: 14px !important;
              color: $color-light-darkest !important;
              line-height: 25px !important;
              border: 1px solid $color-light-dark !important;
            }
            label {
              display: block;
              position: relative;
              height: 42px;
              margin-bottom: 5px;
              // margin: 15px 12px;
              // height: 27px;
              line-height: 27px;
              overflow: hidden;
              width: auto;
              .trumbowyg-input-infos {
                float: left;
                margin-top: -24px;
                span {
                  font-size: 14px;
                  border: none;
                }
              }
            }
            .trumbowyg-modal-button {
              height: auto;
              line-height: 16px;
            }
          }
        }
      }
    }

    input[type=submit] {
      display: block;
      width: 100%;
      margin: 15px 0 0 0;
      box-sizing(border-box);
      @include transition(all 0.35s linear);
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      &:hover, &:active, &:focus {
        border: none;
        outline: none;
        background: $color-2;
        color: $color-dark;
      }
    }
  }
}