header {
  background: $color-5;

  .logo {
    display: inline-block;
    width: 250px;
    text-align: center;
    border-right: 1px solid $color-5-dark;
    a {
      display: block;
      padding: 15px 25px;
      font-size: 24px;
      font-weight: 600;
      text-transform: uppercase;
      color: $color-light;
      @include transition-all;
      &:hover {
        background: $color-5-light;
      }
    }
  }

  .search-box{
    float: right;
    margin: 0 1em;
  }

  .user {
    float: right;
    height: 60px;
    padding: 0;
    @include box-sizing(border-box);
    border-left: 1px solid $color-5-dark;
    @include transition-all;
    &:hover {
      cursor: pointer;
    }
    a {
      display: block;
      padding: 10px 25px;
      .name {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px 0 0;
        color: $color-light;
        // &:after {
        //   display: inline-block;
        //   position: absolute;
        //   margin: 2px 0 0 5px;
        //   font-family: 'icomoon';
        //   content: "\e734";
        // }
      }
      .avatar-container {
        display: inline-block;
        vertical-align: middle;
        height: 40px;
        width: 40px;
        overflow: hidden;
        border-radius: 100%;
        border: 2px solid $color-light;
        background: $color-light;
        img {
          width: 100%;
        }
      }
    }
    .dropdown-menu {
      background: $color-dark;
      // border: 1px solid $color-5;
      // border-top: none;
      ul {
        li {
          display: block;
          a {
            display: block;
            padding: 10px 15px;
            font-weight: 400;
            font-size: 15px;
            color: $color-light-darkest;
            @include transition-all;
            &:hover, &:active, &:focus {
              color: $color-light;
              background: $color-dark-light;
            }
          }
        }
      }
    }

  }
}
