#title-bar {
  position: fixed;
  width: 100%;
  top: 60px;
  left: 0;
  padding: 0 275px;
  z-index: 1;
  background: $color-light;
  border-bottom: 1px solid $color-light-darker;
  .page-title {
    display: inline-block;
    margin: 0;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 26px;
  }
  .button {
    display: inline-block;
    background: $color-1;
    margin: 10px 5px;
    padding: 6px 10px;
    font-size: 15px;
    font-weight: 400;
    color: $color-dark;
    vertical-align: top;
    &.new, &.export {
      margin: 12px 0 0 10px;
      padding: 3px 8px;
      font-size: 13px;
      &:before {
        font-size: 10px;
      }
    }
    &.new {
      background: $color-2;
    }
    &.export {
      float: right;
    }
  }
}