section.data-table {
  table {
    border: none;
    thead {
      tr {
        background: transparent;
        border-bottom: 1px solid $color-light-darker;
        th {
          padding: 5px 15px;
          text-align: left;
          font-size: 18px;
          font-weight: 400;
          text-transform: uppercase;
          color: $color-1;
          a {
            font-weight: inherit;
            &.active.asc, &.active.desc {
              &:before {
                @include icon;
                display: inline-block;
                margin-right: 5px;
                font-size: 0.75em;
              }
            }
            &.active.asc:before {
              content: "\e72c";
            }
            &.active.desc:before {
              content: "\e728";
            }
          }
        }
      }
    }
    tbody {
      tr {
        position: relative;
        @include transition-all;
        border-bottom: 1px solid $color-light-dark;
        td {
          padding: 10px 15px;
          &.search-type {
            font-weight: 400;
            text-transform: uppercase;
          }
          &.no-results {
            text-align: center;
            font-weight: 400;
            color: $color-dark-lighter;
            font-size: 22px;
            line-height: 26px;
            font-style: italic;
          }
          &.actions {
            width: 25px;
            text-align: center;
            a {
              &:before {
                font-family: 'icomoon';
                content: "\e732";
              }
              &:hover {
                color: $color-1;
              }
            }
          }
        }
      }
    }
  }
}
