body.admin {
  position: relative;
  min-height: 100%;
  background: $color-light-darker;

  > header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
  }
  aside#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    margin-top: 60px;
    background: $color-dark;
  }
  // section.container {
  //   box-sizing: border-box;
  //   max-width: none;
  //   margin-left: $sidebar-width;
  //   padding: 0;
  // }
}