header {
  position: relative;
  background: $color-light-dark;
  margin: 0 0 25px 0;
  padding: 25px;
  @include media(tablet) {
    margin-bottom: 0;
  }

  h1 {
    margin: 0;
    font-weight: 200;
  }

  a.new {
    margin: -5px 0 0 25px;
    padding: 20px;
    font-size: 22px;
    span, i {
      color: $color-light;
      font-size: 22px;
    }
  }

  div.dropdown-toggle {
    a.trigger {
      &.active {
        background: $color-1-darker;
      }
    }
    ul {
      display: none;
      position: absolute;
      top: 46px;
      right: -3px;
      min-width: 200px;
      padding: 0;
      list-style: none;
      border-right: 3px solid white;
      border-bottom: 3px solid white;
      border-left: 3px solid white;
      li {
        a {
          display: block;
          padding: 10px;
          font-size: 16px;
          color: $color-light;
          background: $color-1;
          &:hover {
            color: $color-light;
            background: $color-1-light;
          }
        }
      }
    }
  }

  div.button-toggle {
    float: right;
    position: relative;
  }

  div.title-toggle {
    display: inline-block;
    position: relative;
    h1 a {
      padding: 7.5px 10px;
      background: $color-1;
      &.trigger {
        display: inline-block;
        vertical-align: middle;
      }
      i {
        font-size: 28px;
        color: $color-light;
      }
    }
    ul {
      top: 39px;
    }
  }

  .breadcrumbs {
    margin-bottom: 15px;
    a {
      &.disabled {
        color: $shade-4;
        &:hover {
          cursor: default;
        }
      }
    }
    span {
      color: $shade-3;
      margin: 0 5px;
    }
  }

  .published-toggle {
    position: absolute;
    top: 40px;
    right: 30px;
    padding: 10px 15px;
    background: $color-danger;
    span, i {
      color: $color-light;
    }
    i {
      margin-right: 10px;
    }
    &:hover {
      color: $color-danger-dark;
    }
    &.published {
      background: $color-success;
      &:hover {
        background: $color-success-dark;
      }
    }
  }
}
