<div id="modal-container">
  <div id="title-bar">
    <h2 class="page-title">Crop Image</h2>
    <p>Click the focus of the image.</p>
  </div>
  <div class="image-container">
    <div class="gravity">
      <div data-gravity="nw"></div>
      <div data-gravity="n"></div>
      <div data-gravity="ne"></div>
      <div data-gravity="w"></div>
      <div data-gravity=""></div>
      <div data-gravity="e"></div>
      <div data-gravity="sw"></div>
      <div data-gravity="s"></div>
      <div data-gravity="se"></div>
    </div>
    <img src="<%= image.url %>">
  </div>
</div>
