<header>
  <div class="logo">
    <%= link_to Cambium.configuration.app_title, admin_dashboard_path %>
  </div>
  <%= link_to('#', :class => 'user') do %>
    <%= content_tag(:span, current_user.email, :class => 'name') %>
    <%= avatar(current_user, 84) %>
  <% end %>
</header>