<aside id="nav">
  <nav>
    <ul>
      <% admin.sidebar.each do |item| %>
        <%= content_tag(
          :li,
          link_to(item.send("#{item.path}_path")) {
            "#{content_tag(
              :i, nil, :class => "icon-#{item.icon}"
            )} #{item.label}".html_safe
          }
        ) %>
      <% end %>
    </ul>
  </nav>
</aside>
