<%= cambium_page_title(admin_form.title) %>

<div id="page-content"
     data-library="<%= cambium.admin_documents_path(:no_layout => true) %>">
  <%= cambium_form(@object, admin_form.fields) %>
</div>
