<%= link_to send("new_admin_#{model_table_singular}_path"), 
  :class => "button-color-1 new float-right" do %>
  <i class="icon-plus margin-right-medium"></i>
  <span><%= "New #{model_singular}" %></span>
<% end %>