<div class="paginav">
  <div class="jump-to">
    <input type="submit" id="jump-to" value="Jump!">
    <input type="text" placeholder="Jump To..." id="jump-to-val">
  </div>
  <div class="location">
    (Page <span class="current">1</span>
    of
    <span class="total">?</span>)
  </div>
</div>
