<div class="controls">
  <a href="#" class="prev button-color-1">
    <i class="icon-arrow-left"></i>&nbsp;Previous
  </a>
  <a href="#" class="next button-color-1 float-right">
    Next&nbsp;<i class="icon-arrow-right2"></i>
  </a>
</div>
