<!DOCTYPE html>
<html class="public">
  <head>
    <title><%= @config.app_title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="description" content="<%%#= @meta[:description] %>"> -->
    <!-- <meta name="robots" content="noindex, nofollow"> -->
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <%%= stylesheet_link_tag 'application', :media => 'all' %>
    <%%= javascript_include_tag "modernizr" %>
    <%%= csrf_meta_tags %>
  </head>
  <body>

    <%%= render :partial => 'status' %>

    <%%= yield %>

    <%%= javascript_include_tag 'application' %>
  </body>
</html>
